{% extends "base.html" %}
{% block title %}Добавить канцелярию{% endblock %}
{% block content %}
<h1>Добавить канцелярию</h1>

<form method="POST">
  <label>Название *
    <input type="text" name="name" maxlength="20" required/>
  </label>
  <label>Бренд *
    <input type="text" name="brand" maxlength="20" required/>
  </label>
  <label>Описание
    <textarea name="description"></textarea>
  </label>
  <label>Цена (₽) *
    <input type="number" name="price" min="1" step="0.01" required/>
  </label>
  <label>На складе *
    <input type="number" name="stock" min="0" required/>
  </label>
    <label>Магазин:</label>
    <select name="shop_id" required>
        <option value="" disabled selected>Выберите продукт</option>
        {% for shop in shops %}
            <option value="{{ shop.id }}">{{ shop.name }}</option>
        {% endfor %}
    </select>
  <button type="submit">Добавить</button>
  <a href="/">Отмена</a>
</form>
{% endblock %}